@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-montserrat: Montserrat, sans-serif;
    --text-title: 35px;

    --color-mainBg: #FFFFFF;
    --color-mainBg-inv: #101E42;
    --color-mainBg-inv-light: #1C294B;
    --color-mainBg-inv-dark: #091023;
    --color-elemColor: #FC4022;
    --color-cyanBg: #C8D2EC;
    --color-cyanBg-dark: #1E73BE;
    --color-blackWO: rgba(0, 0, 0, .08);
    --color-glassWhite: rgba(255, 255, 255, .5);
    --color-elem-lightBall: rgba(252, 64, 34, .2);
    --radius-stdRadius: 50px;
    --margin-section: 50px;
    /* --color-table-bg: #F9FAFB;
    --color-table-border: #E5E7EB;
    --color-table-header-bg: #F1F5F9;
    --color-table-header-text: #1F2937;
    --color-table-row-hover: #F3F4F6;
    --color-text-primary: #1F2937;
    --color-text-secondary: #4B5563;
    --color-link: #2563EB; */

    /* media */

    --breakpoint-1200: 1200px;
    --breakpoint-1175: 1175px;
    --breakpoint-1150: 1150px;
    --breakpoint-1050: 1050px;
    --breakpoint-950: 950px;
    --breakpoint-860: 860px;
    --breakpoint-810: 810px;
    --breakpoint-635: 635px;
    --breakpoint-530: 530px;
    --breakpoint-500: 500px;
    --breakpoint-475: 475px;
    --breakpoint-435: 435px;
    --breakpoint-425: 425px;
    --breakpoint-400: 400px;
    --breakpoint-380: 380px;
    --breakpoint-340: 340px;



}


@layer components {
    .app {
        @apply flex flex-col min-h-[100svh] font-montserrat text-lg
    }

    .main-container {
        @apply max-w-[1250px] mx-auto px-[10px]
    }

    .full-container {
        @apply max-w-[1920px] mx-auto px-[10px]
    }

    .noScroll {
        overflow: hidden;
    }

    .button {
        @apply max-w-[200px] w-full p-[15px] rounded-stdRadius bg-mainBg text-mainBg-inv font-extrabold text-xl cursor-pointer
    }

    .closeButton {
        @apply absolute flex justify-center items-center top-[20px] right-[20px] w-[40px] h-[40px] rounded-full bg-mainBg text-elemColor font-extrabold cursor-pointer
    }

    .title {
        @apply text-title text-pretty font-extrabold leading-[43px]
    }

    .smallTitle {
        @apply text-3xl font-extrabold text-pretty max-500:text-2xl
    }

    .img {
        @apply w-full h-full object-cover
    }

    .lightBall {
        @apply absolute w-[300px] h-[300px] blur-[50px] rounded-full bg-elem-lightBall
    }
    
}