@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-montserrat: Montserrat, sans-serif;
    --text-title: 35px;
    
    /* Цвета */
    --color-mainBg: #FFFFFF; /* основной фон */
    --color-mainBg-inv: #101E42; /* темный фон */
    --color-mainBg-inv-light: #1C294B; /* светлый темный фон */
    --color-elemColor: #FC4022; /* основной элемент - оранжевый */
    --color-cyanBg: #C8D2EC; /* светлый голубой фон */
    --color-cyanBg-dark: #1E73BE; /* темный голубой фон */
    --color-blackWO: rgba(0, 0, 0, .08); /* черный с прозрачностью */
    --color-glassWhite: rgba(255, 255, 255, .5); /* полупрозрачный белый */
    --color-elem-lightBall: rgba(252, 64, 34, .2); /* полупрозрачный оранжевый для элементов */
    
    /* Цвета для таблицы */
    --color-table-bg: #F9FAFB; /* светлый фон таблицы */
    --color-table-border: #E5E7EB; /* светлый цвет границ */
    --color-table-header-bg: #F1F5F9; /* фон для заголовков таблицы */
    --color-table-header-text: #1F2937; /* цвет текста в заголовке */
    --color-table-row-hover: #F3F4F6; /* цвет фона строки при наведении */
    --color-text-primary: #1F2937; /* основной цвет текста */
    --color-text-secondary: #4B5563; /* второстепенный цвет текста */
    --color-link: #2563EB; /* цвет для ссылок */
    
    /* Радиус */
    --radius-stdRadius: 50px; /* стандартный радиус для округления */
    
    /* Отступы */
    --margin-section: 50px; /* отступы для секций */
}


@layer components {
    .app {
        @apply font-montserrat text-lg
    }

    .main-container {
        @apply max-w-[1250px] mx-auto px-[10px]
    }

    .full-container {
        @apply max-w-[1920px] mx-auto px-[10px]
    }

    .button {
        @apply max-w-[200px] w-full p-[15px] rounded-stdRadius bg-mainBg text-mainBg-inv font-extrabold text-xl cursor-pointer
    }

    .title {
        @apply text-title text-pretty font-extrabold leading-[43px]
    }

    .smallTitle{
        @apply text-3xl font-extrabold text-pretty
    }

    .img {
        @apply w-full h-full object-cover
    }

    .lightBall {
        @apply absolute w-[300px] h-[300px] blur-[50px] rounded-full bg-elem-lightBall
    }
}