.loader {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 20px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    33% {
        border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    66% {
        border-color: white white white rgba(255, 255, 255, 0);
    }

    100% {
        border-color: white white white white;
    }
}